streamlit==1.36.0
openpyxl==3.1.5
xlcalculator==0.5.0
pandas==2.2.2
requests==2.32.3
beautifulsoup4==4.12.3
tzdata==2024.1
# backport is harmless but only needed on Python < 3.9
backports.zoneinfo; python_version < "3.9"
